h2 {
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
}
.cardText a{
color: #F5F5F5;
text-decoration: none;
font-size: 1.3rem;
}
.cardText a:hover{
    text-decoration: underline;

    font-size: 1.3rem;
    }