
@media(max-width: 768px){
    .incDecrease{
        display: flex;
    }
}


.incDecrease{
    background-color: #F5F5F5;
    padding: 1rem;
    text-align: center;
    flex:1 1 25% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.incDecrease button {
  
    border: transparent 1px ;
    color: #F5F5F5;
    font-size: 1rem;

}
.addCart{
    padding: 0.6rem 0.3rem;
    display: block;
    margin-top: 1rem;
    background-color: #8739FA;
  
}
.sumRest button{
    padding: 0.3rem 0.6rem;
    background-color: rgba(70, 69, 74, 0.6);
}


