

.titulo{
  
    color:azure;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
  font-size: 60px;
  padding-bottom: 5rem;
  font-family: 'Anton', sans-serif;
  font-weight: 200;
  letter-spacing: 0.2rem;
}
.titulo h2{
    font-size: 48px;
    font-family: 'Anton', sans-serif;
    font-weight: 200;
    letter-spacing: 0.2rem;
    
}