* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 1.2rem 3rem;
    display: flex;
    width: 100%;

    background-color: gainsboro;

}
header div {
    display: flex;
}

.tittle {
    font-weight: 700;
    text-transform: uppercase;

}

.tittle img {
    width: 30%;
    padding-left: 2rem;
}

ul {
    width: 100%;
    text-align: center;
}

li {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.cart {
    padding-top: 1.5rem;
}

.cart img {
    width: 2rem;
    height: 2rem;
}