.cart {
    padding: 1.5rem;
    position: relative;


}

.cart img {
    width: 2rem;
    height: 2rem;
    
}


.cart a {
    text-decoration: none;
    color:  #F5F5F5;
}

.cart a span {
    font-size: 14px;
    font-weight: bold;
    background-color: blueviolet;
    padding:0 0.4rem;
    border-radius: 50%;
    position: absolute;
    top:15px;
    left: 51px;
}