.footerContainer{
    padding: 2rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #171214 ;

}

.footerContainer p{
color: #F5F5F5
}

.iconContainer{
display: flex;
}

.iconContainer a{
    padding: 0.4rem;
}

@media(max-width: 768px){
.mediaIcon img{
    width: 20px;

    
}}