.areaCart{
    color: #f5f5f5;
    text-align: center;
    padding: 7rem 2rem 0 2rem ;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 

} 


.cartTittle{
    padding-top: 2rem;
    text-align: center;
    color: #F5F5F5;
    font-weight: 300;
    font-size: 2rem;
    font-family: 'Anton', sans-serif;
}
@media (max-width: 992px){
    .cartTittle {
     padding-top: 1rem;
     
    }
}

.areaCartEmpty{
    color: #f5f5f5;
    text-align: center;
    padding: 7rem 2rem 0 2rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
}
.areaCartEmpty a{
    color: #f5f5f5;
    text-align: center;
    padding: 1rem 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
}
.areaCartEmpty h4{

    padding: 1rem 0;

}

.areaCartEmpty a:hover{
 
    text-decoration: underline;
    text-decoration-color: #8739FA;
    text-decoration-thickness: 4px;

}

.cartFull{
    margin-top: 1rem;
    text-align: center;
    background-color: #46454A;

}
@media (min-width: 992px){
    .cartFull {
     flex: 1 1 40%;
    }
}
.cartCenter{
    text-align: center;
}
.cartItems{
   
    display: flex;
    justify-content: center;
    align-items:center;
    margin: auto;
    background-color: #171214;
    text-align: left;
    min-height: 12vh; 
    max-height: 15vh;
    margin-top: 1rem;
    width: 90%;
}

.cartItems p {
    padding: 1rem;
    margin: 0.5rem 0;

}

.cartItems button {
    padding: 1rem 0.5rem;
     background-color: #171214;
     color: #ED351B;
     border: 2px solid transparent;
 }
 

.cartResume{
    background-color: #46454A;
    padding-top: 1rem;  
    display: flex;
    flex-direction: column;
    width: 100%;

}

.totales{
    padding-top: 3rem;
}

.totalU{
    font-size: 1.25rem;

}
.totalA{
    font-size: 1.40rem;

}
.botonB{
    display: block;
    font-family: 'Lato', sans-serif;
    background-color: #8739FA;
    font-size: 1.15rem;
    border: 1px solid transparent;
    text-decoration: none;
    color: #F5F5F5;
    margin: 0.5rem auto;
    padding: .5rem;
    width: 20vw;
    
  }
  .vaciar {
    font-family: 'Lato', sans-serif;
    border: 2px solid #ED351B;
    background: #46454A;
    padding: .5rem;
    width: 20vw;
    margin-bottom: 2rem;
    color: #ED351B;;
  }

  @media (max-width: 992px){
    .cartResume{
      width: 100%;
    }
    .cartItems{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items:stretch;
    }
    .cartItems p {
        padding: 0.5rem;
     
    }
    .cartFull{
        width: 100%;
    }
    .botonB{
  
        width: 40vw;
        
      }
      .vaciar {
     
        width: 40vw;
    }
}

@media (max-width: 992px){
 .areaCart{
    flex-direction: column;
    padding-top: 10rem;

}

}
