
header {
    padding: 1.2rem 3rem;
    display: flex;
    width: 100%;
    background-color: #171214;
  
}

ul {
    width: 100%;
     display: flex;
    align-items: center;
    justify-content: center;
}

li {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navBar ul li a {
    text-decoration: none;
    /* color: #f5f5f5; */
    font-weight: 600;
    color:#F5F5F5 ;
}
.navBar ul li a:hover{
 
    color:blueviolet;
}

